:root {
    --bg-color: #323437;
    --main-color: #e2b714;
    --caret-color: #e2b714;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 100vh;
}

.container {
    padding:32px;
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap:32px;
    width: 100%;
    height:40vh;
}

.container .task-container .task {
    font-family: cursive;
    font-size: 4rem;
}

.container .task-container h1 {
    color:var(--main-color);
    font-family: "Lexend Deca" , sans-serif;
}

.container .task-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;   
    visibility: hidden;
    padding:32px;
    font-size:2rem;
    font-family: sans-serif;
    transition: all 0.5s ease;
    height:0vh;
    background-color:var(--sub-color);
    color:var(--text-color)
}

.container .task-container.active {
    visibility: visible;
    height: 40vh;
}


button {
    margin:0 auto;
    font-family: 'Lexend Deca', sans-serif;
    position:absolute;
    background-color: var(--bg-color);
    outline: none;
    margin-bottom: 120px;
    border:none;
    color:var(--text-color);
    font-size:8rem;
    transition:all 0.25s;
    font-weight: bold;
}

button.click {
    transform: translate(0 , -30vh);
    font-size: 4rem;
}


button:hover {
    color: var(--main-color);
    cursor:pointer;
}
body {
    background-color:var(--bg-color);
}